* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PROBE10PXRegular';
}

body {
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: center;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  text-transform: uppercase;
  text-shadow: 3px 3px 3px black;
  font-size: 6.25rem;
  color: white;
  user-select: none;
}

.game-container {
  display: flex;
  gap: 100px;
  margin-bottom: 50px;
}

.game-container > div {
  display: grid;
  justify-items: center;
  gap: 10px;
}


.game-container > div p {
  font-size: 1.5rem;
  color: white;
  text-transform: capitalize;
  user-select: none;
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 100, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.grid-1, .grid-2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.reset-game {
  width: 100vw;
  height: 100%;
  background-color: rgba(255, 255, 255, .5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: none;
}

.game-result {
  font-size: 3rem;
}

.restart-btn {
  padding: 8px 24px;
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 12px;
}

/* initial screen */
.initial-screen-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.initial-screen {
  width: 800px;
  height: 100vh;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.initial-screen h2 {
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
}

.initial-screen p {
  font-family: 'PROBE10PXRegular';
  font-size: 1.5rem;
  color: white;
}

.positioning-div {
  display: flex;
  align-items: center;
  gap: 50px;
}

.y {
  transform: rotate(90deg);
}

.x {
  transform: rotate(360deg);
}

.initial-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}


.initial-grid .square {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 100, 255, 1);
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn,
.randomize-btn,
.reset-btn,
.rotate-btn {
  padding: 8px 0;
  width: 144px;
  font-size: 1.125rem;
  cursor: pointer;
}

.ships {
  display: grid;
  gap: 10px;
}

.ship {
  height: 40px;
  background-color: darkgrey;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

#pcarrier {
  width: calc(40px * 5);
}

#pbattleship {
  width: calc(40px * 4);
}

#pdestroyer {
  width: calc(40px * 3);
}

#psubmarine {
  width: calc(40px * 3);
}

#ppatrol {
  width: calc(40px * 2);
}

.footer {
  padding-bottom: 20px;
}

.footer p {
  font-size: 1.25rem;
  color: white;
}
