* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 6.25rem;
}

.game-container {
  display: flex;
  gap: 100px;
  margin-bottom: 50px;
}

.game-container > div {
  display: grid;
  justify-items: center;
  gap: 10px;
}


.game-container > div p {
  font-size: 1.5rem;
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-1, .grid-2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.reset-game {
  width: 100vw;
  height: 100%;
  background-color: rgba(255, 255, 255, .5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: none;
}

.game-result {
  font-size: 3rem;
}

.restart-btn {
  padding: 8px 24px;
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 12px;
}

.footer {
  padding-bottom: 20px;
}

/* initial screen */
.initial-screen-bg {
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial-screen {
  width: 800px;
  height: 100vh;
  background-color: grey;
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.initial-screen h2 {
  font-size: 2rem;
}

.initial-screen p {
  font-size: 1.5rem;
}

.positioning-div {
  display: flex;
  align-items: center;
  gap: 50px;
}

.y {
  transform: rotate(90deg);
}

.x {
  transform: rotate(360deg);
}

.initial-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}


.initial-grid .square {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn,
.randomize-btn,
.reset-btn,
.rotate-btn {
  padding: 8px 0;
  width: 144px;
  font-size: 1.125rem;
  cursor: pointer;
}

.ships {
  display: grid;
  gap: 10px;
}

.ship {
  height: 40px;
  background-color: green;
  cursor: grab;
}

#pcarrier {
  width: calc(40px * 5);
}

#pbattleship {
  width: calc(40px * 4);
}

#pdestroyer {
  width: calc(40px * 3);
}

#psubmarine {
  width: calc(40px * 3);
}

#ppatrol {
  width: calc(40px * 2);
}